* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  height: 400px;
  margin: 180px auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}